h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    -webkit-text-fill-color: black; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-shadow: 2px .5px 4px rgba(0, 0, 0, 0.8)
}

.card {
    background-color: rgb(205, 239, 255);
    border-color: rgb(100, 150, 180);
    border-width: 2px;
}

nav {
    background-color: rgb(100, 150, 180);
    border: 2px solid rgb(205, 239, 255);
}

.jumbotron {
    box-shadow: 2px.5px 4px rgba(0, 0, 0, 0.8);
    background-image: url(../images/silverfalls.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}